[default]
aws_access_key_id = {{ onepasswordRead "op://Personal/Dotfiles/AWS_DEFAULT_ACCESS_KEY_ID" }}
aws_secret_access_key = {{ onepasswordRead "op://Personal/Dotfiles/AWS_DEFAULT_SECRET_ACCESS_KEY" }}
[gobadiah-route53]
aws_access_key_id = {{ onepasswordRead "op://Personal/Dotfiles/AWS_GOBADIAH_ROUTE53_ACCESS_KEY_ID" }}
aws_secret_access_key = {{ onepasswordRead "op://Personal/Dotfiles/AWS_GOBADIAH_ROUTE53_SECRET_ACCESS_KEY" }}
